.video_main button,.video_main input{vertical-align:middle;margin:0 5px;}
.video_main{position:relative;width:800px;padding:0;height:500px;margin:0 auto;background:#000;overflow:hidden;z-index:999999;}
.videohome{width:100%;height:100%;background:#000;cursor:pointer;color:#fff;display:block;}
.video_control{background-color: rgba(0,0,0,0.1);position:absolute;bottom:-50px;left:0;right:0;padding:0;height:50px;overflow:hidden;}
.video_info,.video_logo{/*opacity:0.5;filter:alpha(opacity=50);*/padding:0 5px;position:absolute;width:auto;height:24px;color:#fff;line-height:24px;font-size:100%;text-align:left;-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;}
.video_logo{opacity:0.3;filter:alpha(opacity=30);font-size:110%;font-weight:700;top:30px;right:25px;text-shadow:2px 2px 5px #333;}
.video_info{background-color: rgba(0,0,0,0.2);top:15px;left:25px;}
.video_logo span{font-size:90%;}
.video_len{color:#fff;line-height:30px;font-size:90%;display:inline-block;width:auto;margin:0 5px 0 0;width:115px;text-align:center;position:absolute;left:60px;top:10px;}
.video_muted{position:relative;display:inline-block;}
.playvolume{width:40px;display:none;}
.video_range{width:20%;display:none;}
.video_slider{position:absolute;top:22px;left:180px;right:120px;background:#000;height:10px;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.video_slider_back{position:absolute;top:0;left:0;background:red;height:10px;width:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.video_slider_backA{height:10px;width:100%;background:#666;-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;overflow:hidden;}
.video_slider_button{cursor:pointer;position:absolute;top:0;left:0;background:#fff;width:10px;height:10px;-moz-border-radius:10px;-webkit-border-radius: 10px;border-radius:10px;}
.video_main:hover .video_slider,.video_slider:hover{bottom:50px;}
/*.video_main:hover .video_slider_back,.video_main:hover .video_slider_backA,.video_main:hover .video_buffer{margin:7px 0 0;}*/
.video_main:hover .video_slider_button{top:-5px;height:20px;width:20px;-moz-border-radius:20px;-webkit-border-radius: 20px;border-radius:20px;}
.msiefullscreen{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;padding:0;overflow:hidden;z-index:99999;}
.video_buffer{width:0;height:10px;background:#999;}
.playbutton{background:url(images/play.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;left:10px;top:5px;}
.pausebutton{background:url(images/pause.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;left:10px;top:5px;}
.volumebutton{background:url(images/volume.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;right:50px;top:5px;}
.mutedbutton{background:url(images/muted.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;right:50px;top:5px;}
.fullscreen{background:url(images/fullscreen.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;right:10px;top:5px;}
.nofullscreen{background:url(images/nofullscreen.png) no-repeat center center;border:0;width:40px;height:40px;cursor:pointer;position:absolute;right:10px;top:5px;}
.caption{opacity:0.5;filter:alpha(opacity=50);text-align:center;color:#fff;font-size:120%;font-weight:700;position:absolute;bottom:70px;left:10px;right:10px;text-shadow:2px 2px 5px #333;}
.caption a{color:#fff;}
.centerplay{opacity:0.7;filter:alpha(opacity=70);position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8) url(images/centerplay.png) no-repeat center center;display:none;cursor:pointer;}

.contextMenu_main_css{display:none;position:absolute;top:0;left:0;background:#000;color:#fff;width:200px;background-color: rgba(0,0,0,0.3);-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;text-shadow:2px 2px 5px #333;}
.contextMenu_main_css ul, menu{list-style:none;margin:0;padding:0;text-align:left;font-size:90%;}
.contextMenu_main_css ul li{display:block;}
.contextMenu_main_css ul li:hover{background-color:rgba(225,225,225,0.4);}
/*.contextMenu_main_css ul li:hover a{color:#000;}*/
.contextMenu_line{background:#333;height:1px;}
.contextMenu_text,.contextMenu_input{line-height:30px;padding:0 10px;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.contextMenu_text span{margin:0 0 0 10px;}
.contextMenu_input input{width:170px;line-height:12px;}
.contextMenu_button,.contextMenu_checkbox{line-height:30px;padding:0 10px;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.contextMenu_button a{color:#fff;text-decoration:none;margin:0 0 0 10px;}
.contextMenu_menu{position:relative;line-height:30px;padding:0 10px;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.contextMenu_menu:hover .contextMenu_menu_list{display:block;}
.contextMenu_menu_list{background-color: rgba(0,0,0,0.3);list-style:none inside;display:none;position:absolute;width:200px;top:0;left:200px;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.contextMenu_menu_list a{color:#fff;text-decoration:none;}
.contextMenu_menu span.title{margin:0 0 0 10px;}
.contextMenu_menu_title{display:block;width:100%;}
.contextMenu_checkbox span{width:5px;height:5px;margin:0 5px 0 0;}
.contextMenu_checkbox span.yes{background:#fff;-moz-border-radius:5px;-webkit-border-radius: 5px;border-radius:5px;}
.contextMenu_checkbox span,.contextMenu_checkbox a{vertical-align:middle;display:inline-block;}

.loading {
  position: absolute;
  top:15px;
  left:20px;
  display: inline-block;
}
.loading .dot {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-duration: 5.28s;
  -moz-animation-duration: 5.28s;
  -webkit-animation-duration: 5.28s;
  animation-duration: 5.28s;
}
.loading .dot:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #f90;
}
.loading .dot:nth-child(2) {
  -webkit-animation-delay: .23s;
  -moz-animation-delay: .23s;
  -ms-animation-delay: .23s;
  -o-animation-delay: .23s;
  animation-delay: .23s;
}
.loading .dot:nth-child(3) {
  -webkit-animation-delay: .46s;
  -moz-animation-delay: .46s;
  -ms-animation-delay: .46s;
  -o-animation-delay: .46s;
  animation-delay: .46s;
}
.loading .dot:nth-child(4) {
  -webkit-animation-delay: .69s;
  -moz-animation-delay: .69s;
  -ms-animation-delay: .69s;
  -o-animation-delay: .69s;
  animation-delay: .69s;
}
.loading .dot:nth-child(5) {
  -webkit-animation-delay: .92s;
  -moz-animation-delay: .92s;
  -ms-animation-delay: .92s;
  -o-animation-delay: .92s;
  animation-delay: .92s;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  8% {
    -webkit-transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
  }
  60% {
    -webkit-transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(965deg);
    -webkit-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(225deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  8% {
    -moz-transform: rotate(345deg);
    -moz-animation-timing-function: linear;
  }
  30% {
    -moz-transform: rotate(455deg);
    -moz-animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(690deg);
    -moz-animation-timing-function: linear;
  }
  60% {
    -moz-transform: rotate(815deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  75% {
    -moz-transform: rotate(965deg);
    -moz-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  60% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(965deg);
    animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}